<form method="POST" action="login">
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Age: </td>
            <td><input type="text" name="age"></td>
        </tr>
        <tr>
            <td>Address: </td>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
        <tr>
            <td>
                <p>{{name}}</p><br>
                <p>{{age}}</p><br>
                <p>{{address}}</p> 
            </td>
        </tr>
  </table>
</form>