<html lang="en" class="">

<head>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
<div class="container">
  <form id="contact" action="/" method="post">
    <h3>Weather Tracking</h3>
    <h4>By Chien Nguyen</h4>
    <fieldset>
      <input placeholder="Address" type="text" tabindex="1" required="" name="address">
    </fieldset>
    <fieldset>
      <input placeholder="City" type="text" tabindex="2" required="" name="city">
    </fieldset>
    <fieldset>
      <input placeholder="State" type="text" tabindex="3" required="" name="state">
    </fieldset>
    <fieldset>
      <input placeholder="Zipcode" type="text" tabindex="4" required="" name="zipcode">
    </fieldset>
    <fieldset>
      <input placeholder="Country" type="text" tabindex="5" required="" name="country">
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>

</body></html>